<div class="jumbotron text-center">
  <h1>Editar motorista</h1>
  <p>Página para editar as informações de um usuário já cadastrado</p>
</div>
<div class="container">
  <div class="jumbotron">
<%= render 'form', motorista: @motorista %>

<%= link_to 'Voltar', motorista_index_path, class:"btn btn-default" %>
  </div>
</div>