<h1>Editando Motorista</h1>

<%= render 'form', motorista: @motorista %>

<%= link_to 'Exibir', @motorista , class: "btn btn-default" %>
<%= link_to 'Back', motorista_index_path, class: "btn btn-default" %>
