<%if current_user.capacidadeDeGerencia == TRUE %>


  <div class="jumbotron text-center">
  <h1>Editar manuntenções</h1>
  <p>Página para editar as informações de uma manutenção já existente</p>
</div>
<div class="container">
  <div class="jumbotron">

<%= render 'form', manutencao: @manutencao %>

<%= link_to 'Voltar', manutencaos_path, class:"btn btn-default" %>
  </div>
</div>

<% end %>