<%if current_user.capacidadeDeGerencia == TRUE %>

  <div class="jumbotron text-center">
  <h1>Agendar manutenção</h1>
  <p>Página para agendar futuras manutenções para cada véiculo já existinte</p>
</div>
<div class="container">
  <div class="jumbotron">
<%= render 'form', manutencao: @manutencao %>

<%= link_to 'Voltar', manutencaos_path, class:"btn btn-default" %>
  </div>
</div>

<% end %>