<div class="jumbotron text-center">
  <h1>Cadastrar novo veículo</h1>
  <p>Página para cadastrar um véiculo ainda não existente</p>
</div>
<div class="container">
  <div class="jumbotron">
<%= render 'form', veiculo: @veiculo %>

<%= link_to 'Voltar', veiculos_path, class: "btn btn-default" %>
  </div>
</div>
